<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">My Portfolio</h1>
  </div>
  <div class="contentAreaDiv">
    <section class="socialDiv">
      <p>My name is Andrey Faigon</p>
      <div class="icon">
        <span><a href="https://github.com/nitro3000"><img src="../assets/icons8-github.svg" alt="GitHub" /></a></span>
        <span><a href="https://www.linkedin.com/in/andrey-faigon-full-stack-developer/"><img src="../assets/linkedin2.svg" alt="LinkedIn"/></a></span>
        <span><a href="mailto:andreyfaigon@gmail.com"><img src="../assets/email.svg" alt="eMail"/></a></span>
      </div>

    </section>
    <section class="mainContentDiv">
      
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;"> 
          <hr>
           <p style="font-size: larger;">Summary</p>
          <hr>
         </div>
         <p>An intelligent, determined, and hard-working Full Stack Developer with a high drive for work ethic.
               Seeking to utilize my array of techniques, problem solving and organizational skills to achieve company’s long-term goals</p>
      </div>
      <div class="resumeDiv">
        <div style="display: flex; flex-direction: row;"> 
          <hr>
           <p style="font-size: larger;">Resume</p>
          <hr>
         </div>
         <p><a  href="https://faigon.tech" style="color: #dbf066 ;">Link to the Resume</a></p>
      </div>
      <div class="projectDiv">
        <div style="display: flex; flex-direction: row;"> 
          <hr>
           <p style="font-size: larger;">Projects</p>
          <hr>
         </div>
      </div>
      <div class="projectsDiv">

        <mat-card class="project">
         <p>Portfolio (React)</p> 
          <img class="projectImage" src="../assets/reactWebPortfolio.png" alt="Portfolio (React)">
          <ul>
            <li>React</li>
            <li>JavaScript</li>
            <li>HTML/CSS</li>
          </ul>
          <button mat-raised-button><a  href="https://faigon.tech"  >To Source</a></button>
        </mat-card>
        <mat-card class="project">
          <p>Portfolio (Angular)</p>
          <img class="projectImage" src="../assets/myportfolio_angularpng.png" alt="Portfolio (Angular)">
          <ul>
            <li>Angular</li>
            <li>HTML/SCSS</li>
           
          </ul>
          <button mat-raised-button><a  href="https://portofolio1.faigon.tech" >To Source</a></button>
        </mat-card>
        <mat-card class="project">
          <p>Portfolio (ASP.NET Core MVC)</p>
          <img class="projectImage" src="../assets/portfolioLandingPage.png" alt="Portfolio (ASP.NET Core MVC)">
          <ul>
            <li>C#</li>
            <li>MVC</li>
            <li>.NET</li>
            <li>Azure</li>
          </ul>
          <button mat-raised-button><a  href="https://afportfolio2022.azurewebsites.net" >To Source</a></button>
        </mat-card>
        <mat-card class="project">
          <p>E-Commerce Website</p>
          <img class="projectImage" src="../assets/GrowMushroomsCanada screenshot.png" alt="E-Commerce Website">
          <ul>
            <li>PHP</li>
            <li>WordPress</li>
            <li>WooCommerce</li>
          </ul>
          <button mat-raised-button><a  href="https://growmushroomscanada.ca">To Source</a></button>
        </mat-card>
        <mat-card class="project">
          <p>Website - Catalog</p>

          <img class="projectImage" src="../assets/Numismatic screenshot.png" alt="Website - Catalog" width="100px" height="100">
          <ul>
            <li>C#</li>
            <li>HTML/CSS</li>
            <li>SQL</li>
          </ul>
          <button mat-raised-button><a  href="https://triosdevelopers.com/~A.Faigon/Numismatic/index.html">To Source</a></button>
        </mat-card>
      </div>
    </section>
  </div>
</div>

<section class="footer">
  <footer style="text-align: center !important;"> &copy; Copyright 2022 - <var></var>  All Rights Reserved <a href='https://faigon.tech' style="color: #e4df41;;">@Faigon.Tech</a></footer>
</section>